/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width:1 !important; /* 2 */
  border-style:solid !important; /* 2 */
  border-color: none !important; /* 2 */
}
.sansation-fontFamily a , .sansation-fontFamily{
    font-family:"sansation";
}
.overpassfont-family{
    font-family: "overpass";
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.body{background-color:white !important;}

.tab {
  opacity:0;
  visibility:hidden;
  transform:translate(0,50px);
}

.active-tab,.active-button{
  transition:transform 0.2s,background 0.2s,color 0.2s;
}

.active-tab{
  visibility:visible;
  opacity:1;
  transform:translate(0,0);
  z-index:99;
  color: #000000;
  background-color: rgba(243, 244, 246, 1);
}
 .active-button{
    background:#1570BF !important;
    color:#ffffff;
    border-radius: 50px;
}

.get-int-pills span:first-child {
 border-top-left-radius: 50px;
 border-bottom-left-radius: 50px;
}

.get-int-pills span:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.testimonial-images{
  width: 200px;
  height: 200px;
}

.pro:hover{
  padding: 20px 5px;
}

.nav-position{
  position: fixed;
  z-index: 99;
}





/*.one-third:hover{ 
background: #eeeeee;
background-image: url('../public/images/Group\ 19@1X.png');
background-repeat: no-repeat;
background-size: 10vh;
z-index: 99;
background-attachment: fixed;
background-position: center;


}*/
.one-third {
  
  position: relative;
  display: inline-block;
  
}
.one-third .img-top {
  display: none;
  position: absolute;
  top: 35%;
  left: 45%;
  z-index: 99;
 }
 .one-third:hover .img-top  {
  display: inline;
 }

 span.black-overlay {
  background: rgba(0,0,0,0.5);
  display: none;
  height: 271px;
  width: 274px;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  /* bottom: 2%; */
  left: 30px;
  }


  .one-third:hover span.black-overlay {
    display:block;
  }
  
  













